/* Styliser le tableau */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Centrer le contenu des cellules */
td {
    text-align: center;
}

/* Ajouter une couleur de fond sur les lignes paires */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Modifier le style du titre */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}